@model FloraWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LLogin.cshtml";
}



<div class="card-body login-card-body">
    <p class="login-box-msg">Sign in to start your session</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() 

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="UserId" name="LoginId">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <!-- /.col -->
        </div>
    }

</div>


